# Скомпилированные исполняемые файлы (бинарники)
atm_app
run_tests
*.exe
*.out

# Файлы данных банкомата, которые создаются при работе
*_card.txt
*_acc.txt
*_journal.bin

# Временные файлы операционной системы и редакторов
.DS_Store
*.swp
.vscode/
.idea/
